/**************************************************************/
/******************    Custom Stylesheet    *******************/
/*******************   by Corey Sizemore   ********************/
/*******************     version 1.0       ********************/
/**************************************************************/

$green: #00703c;

header.home_default_image {
	background: url('../img/home2.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header.page_default_image{
	background: url('../img/home2.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.slideshow .image_slide.slide_1 {
	background: url('../img/home4.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header.slideshow .image_slide.slide_2 {
	background: url('../img/home3.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header.slideshow .image_slide.slide_3 {
	background: url('../img/home2.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

a#searchopen:link, a#searchopen:visited, a#mobileopen:link, a#mobileopen:visited {
	color: $green;
}

#home_logo {
	#home_page_nav {
		ul {
			li:first-child {
				a:link,
				a:visited  {
					.icon {
						background: $green url('../img/barley_logo.png') no-repeat !important;
						background-size: 30px 30px !important;
						background-position: center center !important;
					}
				}
			}
		}
	}
}

#nav_bar {
	#logo_main {
		h1 {
			a:link,
			a:visited {
				padding-top: 25px;
			}
		}
	}
	
	&.scroll-fix {
		#logo_main {
			h1 {
				a:link,
				a:visited {
					padding-top: 10px;
				}
			}
		}
	}
}

#home_logo {
	margin-top: -350px;
	
	#logo_home {
		img {
			width: 450px;
		}
	}
	
	#home_page_nav {
		ul {
			li {
				a:link,
				a:visited {
					.icon {
						background: $green;
					}
				}
			}
		}
	}
}

.appointment {
	background: $green;
}

.content,
.sidebar {
	h1,h3,h2.page_heading {
		color: $green;
	}
	
	hr.divider {
		background: $green;
	}
	
	a:link,
	a:visited {
		color: $green;
	}
	
	h2.date {
		text-align: center;
	}
}

.cash_wrapper {
	margin-bottom: 50px;
	
	.cash_row {
		span {
			display: inline-block;
			padding: 10px 5px;
			width: calc(16.5% - 10px);
		}
		
		span:first-child {
			font-weight: 400;
		}
		
		&.first_row {
			background: #e5e5e5;
			
			span {
				font-weight: 500;
				vertical-align: middle;
			}
		}
		
		&.cash_row:nth-child(odd) {
			background: #f5f5f5;
		}
	}
}

.facilities_wrapper {
	.facilities_row {
		span {
			display: inline-block;
			padding: 10px 5px;
			width: calc(25% - 10px);
		}
		
		span:first-child {
			font-weight: 400;
		}
		
		&.first_row {
			background: #e5e5e5;
			
			span {
				font-weight: 500;
				vertical-align: middle;
			}
		}
		
		&.facilities_row:nth-child(odd) {
			background: #f5f5f5;
		}
	}
}

.breadcrumb_wrapper {
	span.breadcrumbs {
		a:link, 
		a:visited {
			color: $green;
		}
	}
}

.parallax.parallax_default_image {
	background: url('../img/home1.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

article.blog_preview {
	span.edit,
	span.author {
		a:link, 
		a:visited {
			color: $green;
		}
	}
}

article.blog_entry {
	.meta {
		span.category,
		span.author {
			a:link,
			a:visited {
				color: $green;
			}
		}
	}
	
	.tagcloud {
		a:link,
		a:visited {
			border: .5px solid $green;
			color: $green;
		}
	}
}

.blog_sidebar {
	#blog_sidebar_1,
	#blog_sidebar_2 {
		ul {
			li {
				a:link,
				a:visited {
					color: $green;
				}
			}
		}
	}
}

.edit_button {
	a:link, 
	a:visited {
		background: $green;
	}
}


@media (min-width: 980px) and (max-width: 1220px) {
	
	#home_logo {
		margin-top: -200px;
		
		#logo_home {
			img {
				width: 300px;
			}
		}
	}
	
}
	
@media (min-width: 768px) and (max-width: 979px) {
	
	#home_logo {
		margin-top: 50px;
		
		#logo_home {
			img {
				width: 300px;
			}
		}
	}
	
}
	
@media (min-width: 480px) and (max-width: 767px) {
	
	header.home_default_image {
		background: url('../img/home2_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/home2_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	#home_logo {
		margin-top: 100px;
		
		#logo_home {
			img {
				width: 300px;
			}
		}
	}
	
}
	
@media (min-width: 0px) and (max-width: 479px) {

	header.home_default_image {
		background: url('../img/home2_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/home2_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	#home_logo {
		margin-top: 100px;
		
		#logo_home {
			img {
				width: 200px;
			}
		}
	}
	
	.cash_wrapper {
		font-size: 14px;
		
		.cash_row {
			
			span {
				width: calc(20% - 10px);
			}
			
			span:first-child {
				width: 100%;
			}
			
			&.first_row {
				
				span:first-child {
					display: none;
				}
			}
		}
	}
	
}